body{
    background-color: rgb(16, 80, 16);
}

.card-img-top{
    width: 8em;
}

.btn-del{
    /* margin-top: 1.96em; */
}

.new_course{
    background-color: rgb(16, 80, 16);
    color: white;
    float: right;
}

.gpas{
    vertical-align: middle;
    line-height: 2em;
    font-size: 3.5em;
    text-align: center;
}

.gradeview{
    position: fixed;
    bottom:0px;
    right:0px;
}